# Ignore the Service Account Key file
servicekey.json

# Ignore .env file as well (if you want to keep the .env file private)
.env

# Ignore VS Code configs
.vscode

# debug file for notifications
internal/handlers/debug.go

# executable
cmd/countries-dashboard-service/main